
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.woff);
  src: url(../fonts/OpenSans-Regular.woff2);
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;	
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  src: url(../fonts/OpenSans-Bold.woff2);
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;	
}

body {
  margin: 0;
  font-family: OpenSans, sans-serif;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: OpenSans-Bold;
}

ul {
  margin: 0;
}

.header {
  background-image: url(../images/football_1920.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0e34;
  position: relative;
  padding-top: 44px;
  padding-bottom: 110px;
  margin-bottom: 115px;
}

.header:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
}

.container {
  margin: 0 auto;
}

.header_content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surface_logo_text {
  display: block;
}

.surface_logo_text_icon {
  width: 193px;
  margin-bottom: 290px;
}

.header_title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 90px;
  font-family: OpenSans-Bold;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 217px;
}

.header_title span {
  padding-left: 30%;
}

.app_icon {
  width: 43px;
  fill: #ffffff;
  margin-right: 15px;
}

.gplay_icon {
  width: 42px;
  fill: #ffffff;
  margin-right: 25px;
}

.download_buttons {
  display: flex;
  max-width: 750px;
  justify-content: space-around;
}

.download_button {
  width: 315px;
  height: 78px;
  background-color: #5e42b0;
  text-decoration: none;
  color: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 110px;
}

.download_button:first-child {
  margin-right: 32px;
}

.download_text {
  text-transform: uppercase;
  font-family: OpenSans-Regular;
  font-size: 14px;
}


.second_row {
  display: block;
  font-family: OpenSans-Bold;
}

section.main_section.athlets {
  margin-bottom: 115px;
}

.athlets {
  position: relative;
}

.section_title_wrapper, .list_item_wrapper {
  padding-left: 50%;
}

.section_title {
  text-transform: uppercase;
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  margin-bottom: 100px;
}

.footballer {
  position: absolute;
  top: 0;
  right: 55%;
  display: block;
}

.section_list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.list_title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 34px;
  color: #c1c1c1;
  margin: 0;
}

.count {
  margin-right: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 700;
}

 .count::after {
  content: "";
  display: block;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0; 
}

span.count.third::after {
  background-color: #ffffff;
}


.item_text {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #000000;
  font-family: OpenSans-Regular;
  margin-top: 30px;
}

.list_item {
  padding-bottom: 60px;
}

.list_item_wrapper {
	padding-top: 60px;
	padding-right: 40px;
}

.list_item:nth-child(2n) {
  background-color: #f6f4fa;
}

.list_item:last-child {
  background-color: #5e42b0;
}

.players .list_item:last-child {
  background-color: #0a0e34;
}

.players {
  position: relative;
	overflow: hidden;
}

.basketballer {
  position: absolute;
  top: 0;
  right: 0;
}

.section_title_wrapper_players {
  padding-right: 50%;
}

.players_title {
  padding-left: 15px;
}


.players_list_item_wrapper {
  padding-top: 60px;	
  padding-right: 50%;
  padding-left: 15px;
  padding-bottom: 60px;
}

.text_white {
  color: #ffffff;
}

div.players_list_item_wrapper span.count.third {
  color: #4e418d;
}

.section_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.last_section {
  display: flex;
}

.section_picture {
  display: block;
  width: 100%;
}

section.last_section h2.section_title {
  margin-top: 30%;
  margin-bottom: 20%;
}

.last_section_content {
  width: 50%;
  padding-left: 115px;
  padding-right: 182px;
  box-sizing: border-box;
}

.last_section_text {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
}

.last_section_picture {
  width: 50%;
  position: relative;
}

.last_section_picture img {
  object-fit: cover;
}

.number {
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 155px/2);
  left: calc(100% - 168px/2);
  z-index: 5;
}

.last_count {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #f5f6f7;
  font-family: OpenSans-Bold;
}

.last_count::after {
  content: "";
  display: block;
  width: 24px;
  height: 5px;
  border-radius: 2px;
  background-color: #8f7bc8; 
}

.last_section:nth-child(even) .last_section_picture {
  order: 1;
}

.last_section:nth-child(even) .number {
  left: -84px;
}

.footer {
  background-image: url(../images/game_1920.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0e34;
  position: relative;
  padding-top: 228px;
  padding-bottom: 50px;
}

.footer:before {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
}

.footer_content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.surface_logo {
  fill: #ffffff;
  width: 105px;
}

.footer_surface_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 134px;
  background-color: #573ca5;
  border-radius: 25px;
  margin-right: 30px;
}

.footer_title_first_row {
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 4px;
  line-height: 60px;
  color: #ffffff;
  font-family: OpenSans-Bold;
  margin: 0;
}

.footer_title_second_row {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 34px;
  color: #a496ca;
  font-family: OpenSans-Regular;
  margin: 0;
  padding-top: 20px;
}

.footer_surface_logo_text {
  display: block;
}

.footer_surface_icon {
  width: 193px;
  margin-bottom: 50px;
}

@media (max-width: 1280px) {
  .basketballer {
    right: -30%;  
  }

  h2.section_title {
    font-size: 60px;
    margin-bottom: 15px;
  }

.last_section_content {
  padding-left: 100px;
  padding-right: 100px;
}

  .last_section_text {
    font-size: 20px;
  }
}

@media (max-width: 960px) {

.header {
  background-image: url(../images/football_767.jpg); 
  padding-top: 35px;
  padding-bottom: 90px;
  margin-bottom: 85px;
}

.download_button {
  margin-bottom: 0;
  width: 300px;
}

h2.section_title {
  margin-bottom: 15px;
}

.list_item_wrapper {
  padding-top: 45px;
  padding-bottom: 38px;
  padding-right: 32px;
}

.list_title {
  font-size: 30px;
}

.list_item {
  padding-bottom: 0;
}

.main_section.athlets {
  margin-bottom: 90px;
}

.section_title.players_title {
  padding-left: 0;
}

.section_title_wrapper_players {
  padding-left: 32px;
}

.players_list_item_wrapper {
  padding-top: 45px;
  padding-bottom: 38px;
  padding-left: 32px;
}

.last_section {
  flex-direction: column;
}

.last_section_picture {
  width: 100%;
}

.last_section_content {
  width: 100%;
  padding-left: 32px;
  padding-right: 70px;
  padding-bottom: 80px;
}

section.last_section h2.section_title {
  margin-top: 90px;
  margin-bottom: 40px;
}

.number {
  width: 116px;
  height: 116px;
  top: calc(100% - 116px/2);
  left: 32px;
}

.last_section:nth-child(even) .last_section_picture {
  order: -1;
}

.last_section:nth-child(even) .number {
  left: 32px;
}

.footer {
  background-image: url(../images/game_767.jpg); 
  padding-top: 125px;
  padding-bottom: 24px;
}

.footer_title_wrapper {
  flex-direction: column;
  margin-bottom: 285px;
}

.footer_surface_logo {
  margin-bottom: 83px;
}

.footer_title_second_row {
  text-align: center;
}

.footer_surface_icon {
  margin-top: 53px;
  margin-bottom: 0;
}
}

@media (max-width: 640px) {
  
.header {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 82px;
  margin-bottom: 24px;
} 

.surface_logo_text_icon {
	width: 135px;
	margin-bottom: 135px;
}

.header_title {
	font-size: 28px;
	margin-bottom: 88px;
}

.header_title span {
	padding-top: 30px;
	padding-left: 35px;
}

.download_buttons {
  flex-direction: column;
}

.download_button {
	height: 35px;
}

.download_button:first-child {
	margin-right: 0;
	margin-bottom: 14px;
}

.download_text {
	font-size: 8px;
}

.app_icon {
	width: 20px;

}

.gplay_icon {
	width: 24px;
	margin-right: 10px;
}

.section_title_wrapper {
	padding-left: 20px;
}

.section_title {
	font-size: 50px;
	margin-bottom: 250px;
}

.footballer {
	top: 60px;
}

.list_item_wrapper {
	padding-top: 60px;
	padding-left: 20px;
}

.list_title {
	font-size: 23px;
}

.item_text {
	font-size: 15px;
	line-height: 18px;
}

.count {
	font-size: 14px;
	margin-right: 0;
}

section.main_section.athlets {
	margin-bottom: 22px;
}

.section_title_wrapper_players {
	padding-left: 20px;
}

.basketballer {
	top: 60px;
    right: 20%;
}

.players_list_item_wrapper {
	padding-right: 20px;
}

.number {
    width: 70px;
    height: 70px;
}

.last_count::after {
  width: 15px;
  height: 4px;
}

section.last_section h2.section_title {
	margin-top: 33px;
	margin-bottom: 22px;
	font-size: 28px;
}

.last_section_text {
	font-size: 16px;
	letter-spacing: 1px;
line-height: 20px;
}

.last_section_content {
	padding-right: 20px;
}

.surface_logo {
	width: 56px;
}

.footer_surface_logo {
	width: 72px;
	height: 74px;
	margin-bottom: 58px;
}

.footer_title {
	padding-left: 20px;
	padding-right: 20px;
}

.footer_title_first_row {
	font-size: 32px;
letter-spacing: 2px;
}

.footer_title_second_row {
	font-size: 14px;
letter-spacing: 1px;
color: #9b8ec1;
padding-top: 0;
}

.footer_title_wrapper {
	margin-bottom: 76px;
}

.footer_surface_icon {
	margin-top: 80px;
	width: 134px;
}

}